button[type]{
    border: none;
    padding: 0.4rem 1rem;
    text-align: center;
    margin-top: 1rem;
    font-family:"Raleway",sans-serif;
    border-radius: 0.3rem;
    cursor:pointer;
    outline: none;
    color: rgb(226, 14, 14);

}
body {
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
      color: white;
    font: normal 32px/1.6 system-ui, sans-serif;
      text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
    margin: 3rem;
    justify-content: center;
  }